{% extends "layout.html" %}

{% block title %}
    Approve
{% endblock %}

{% block main %}
    Attendance Record
<form action="/approve" method="post">
    <div class="form-group">
        </p>
        <table class="table table-striped itable">
          <thead>
            <tr>
              <th scope = 'col'>#</th>
              <th scope="col">User ID</th>
              <th scope="col">Name</th>
              <th scope="col">Event Name</th>
              <th scope="col">Category</th>
              <th scope="col">Date Submitted</th>
              <th scope="col">Photo</th>
              <th scope="col">Other Proof</th>
            </tr>
          </thead>
        <tbody>
            {% for dict in  dlist %}
              <tr>
              <td>
                <input type='hidden' name = 'event_num' value= {{ (dict['event_num']) }}>
              </td>
              <td>{{ (dict['event_num']) }}</td>
              <td >{{ (dict['user_id']) }}</td>
              <td>{{ (dict['name']) }}</td>
              <td>{{ (dict['event_name']) }}</td>
              <td>{{ (dict['category']) }}</td>
              <td>{{ (dict['time']) }}</td>
              <td> <img src= "/static/{{ dict['photo1'] }}"></td>
              <td>{{ dict['other_proof'] }}</td>
              <td>
                  <select name = "status">
                  <option disabled selected>Status</option>
                  <option> Not Approved </option>
                  <option> Approved </option>
              </td>
              <td>
                  <button class="btn btn-primary" id = 'approved' type="submit"> Submit</button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </table>
    </div>
</form>
{% endblock %}