{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<!-- Symbol	Name	Shares	Price	TOTAL-->
<header class="homeimg w3-display-container w3-grayscale-min">
            <div class="w3-display-middle w3-center">
              <span class="w3-text-white" style="font-size:90px">WICS Compers</span>
            </div>
          </header>

          <div>
            <h1 class="title">How Can I Join WiCS?</h1>
            <p>Joining WiCS is non-competitive and completion based. In order to be an official member of WiCS, compers must attend at least 6
            events. There are four different types of events: small social, big social, sponsorship, and educational. Compers must attend every type
            of event at least once. All events are great opportunities to meet other members in WiCS, make friends on campus, and learn
            more about amazing opportunities available to those interested in pursuing CS and other related fields. In order to make sure your attendance
            to these events count towards the comping process, make sure to fill out the attendance form above.</p>

            <h1 class="title">What Happens After I Join WiCS?</h1>
            <p>Once you have completed the comping process in order to become an official WiCS member, you can submit your resume to a sponsor databse
            and run for a board position the following year.</p>

            <h1 class="title">Leadership Committee</h1>
            <p>The WiCS Leadership Committee was formed to create an extra space for members to voice their opinions, learn more about how the
            WiCS board works, and get to know current board members. </p>
          </div>
            <!-- Calendar -->

          <h1 class="title">
            Calendar of Events!
          </h1>
          <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23E67C73&amp;ctz=America%2FNew_York&amp;src=Y29sbGVnZS5oYXJ2YXJkLmVkdV9mb2tmMGNoamxiaGxiOHNkbjJkbThnaGN0a0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&amp;color=%23DD5511" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
{% endblock %}
